	* {
		font-family:sans-serif;
	}	
	body{

	}
	h1 {
		float: left;
		padding-left: 0.5em;
		text-shadow:1px 1px white;		
	}
	#superior{
		margin: 0 auto;
		width: 90%;
	}
	ol{
		margin: 0px;
	}
	#contenedor{
		background-image: url('src/fondo.jpg');
		background-repeat: repeat;
		width: 100%;	
		border: 1px solid black;
		font-size: small;
	}
	#menu {
		width: 20%;
		height: 100%;
		float: left;
		padding: 0.2em;
		margin: 0.2em;
	}
	#contenido {
		padding: 0.2em;
		margin: 0 auto;
		width: 90%;

		
		padding-top: 6em;
	}
	#realizados, #aprobados {
		float: right;
		width: 200px;
		padding: 1em;
		font-weight: bold;
		border: 1px solid;
		color: black;
		background-color: #82B4FF;
		text-align: center;
		margin-top: 1em;
		/*margin-right: 0.5em;*/
	}
	#realizadosTotal, #aprobadosTotal {
		color: black;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#preguntasMostradas{
		margin: 0;
	}
	.preguntas {
		border: 1px solid black;
		margin-bottom: 0.2em;
		padding: 0.1em;
		background-color: white;
		background-image: url('src/fondoPregunta.png');
		background-repeat:inherit;
	}
	.respuesta, .pregunta{
		width: 70%;
		margin-left: 10px;
		inline:block;
		height: 30%;
	}
	.respuesta {
		line-height: 2.4em;
	}
	.acierto {
		background-color: #4cb77c;
	}
	#estadistica {
		font-weight: bold;
		font-size: 120%;
		color: white;
		margin-bottom: 1em;
		text-shadow:1px 1px black;
		clear: both;
	}

	.error {
		background-color: red;
	}
	.pregunta{
		font-size: 110%;
	}
	.numPregunta{
		font-weight: bolder;
		font-size: 150%;
		border-style: 5px solid;
		color:darkred;
	}
	img{
		min-height: 100px;
		min-width: 100px;
		vertical-align: middle;
		margin-right: 1em;
		margin-top:1em;
		height:150%;
		border: 1px solid black;
	}
	input{
		margin: 10px;
		font-size: 200%;
	}

	#botonAnterior, #botonSiguiente, #botonCorregir, #botonNuevoTest {
		top:0%;
		
	}
	#botonSiguiente, #botonCorregir, #botonNuevoTest {
		float: right;
	}

	footer{
		padding: 0.5em;
		margin: 0 auto;
		width: 90%;
	}
